In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from scipy import stats
from scipy.stats import norm

from sklearn.model_selection import train_test_split

import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

import joblib

In [2]:
df = pd.read_csv('data/Ames_Transaction.csv')
df.shape

(2557, 37)

In [3]:
df.head()

,GeoRefNo,ClassPr_S,ClassSc_S,MA_Zip1,PA-Strt,LndAc_S,ImpAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
0,522105010,RESIDENTIAL,2-STORY 1946 & NEWER,50010.0,LEDGES,93300,0,279700,373000,HaydnLk,...,0.0,Attachd,2016.0,3.0,647.0,2017.0,10.0,365400.0,WRDConv,Normal
1,522105010,RESIDENTIAL,2-STORY 1946 & NEWER,50010.0,LEDGES,93300,0,279700,373000,HaydnLk,...,0.0,Attachd,2016.0,3.0,647.0,2016.0,5.0,75000.0,WRDConv,Normal
2,522110120,RESIDENTIAL,2-STORY 1946 & NEWER,50010.0,LEDGES,98100,0,294400,392500,HaydnLk,...,0.0,Attachd,2018.0,3.0,744.0,2019.0,1.0,392500.0,WRDConv,Normal
3,522110120,RESIDENTIAL,2-STORY 1946 & NEWER,50010.0,LEDGES,98100,0,294400,392500,HaydnLk,...,0.0,Attachd,2018.0,3.0,744.0,2018.0,1.0,75000.0,WRDConv,Normal
4,522150100,RESIDENTIAL,1-STORY 1946 & NEWER ALL STYLES,50010.0,AUDUBON,80000,0,57300,137300,HaydnLk,...,0.0,No Data,0.0,0.0,0.0,2018.0,7.0,80000.0,WRDConv,Normal

In [4]:
df.drop(['GeoRefNo', 'ClassPr_S','PA-Strt', 'BldgNo_S', 'DwlgNo_S'], axis=1, inplace=True)

In [5]:
df.shape

(2557, 32)

In [6]:
df.head()

,ClassSc_S,MA_Zip1,LndAc_S,ImpAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,LotArea,ParType,YrBuilt,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
0,2-STORY 1946 & NEWER,50010.0,93300,0,279700,373000,HaydnLk,10015.0,Dwg&Lot,2016.0,...,0.0,Attachd,2016.0,3.0,647.0,2017.0,10.0,365400.0,WRDConv,Normal
1,2-STORY 1946 & NEWER,50010.0,93300,0,279700,373000,HaydnLk,10015.0,Dwg&Lot,2016.0,...,0.0,Attachd,2016.0,3.0,647.0,2016.0,5.0,75000.0,WRDConv,Normal
2,2-STORY 1946 & NEWER,50010.0,98100,0,294400,392500,HaydnLk,14904.0,Dwg&Lot,2018.0,...,0.0,Attachd,2018.0,3.0,744.0,2019.0,1.0,392500.0,WRDConv,Normal
3,2-STORY 1946 & NEWER,50010.0,98100,0,294400,392500,HaydnLk,14904.0,Dwg&Lot,2018.0,...,0.0,Attachd,2018.0,3.0,744.0,2018.0,1.0,75000.0,WRDConv,Normal
4,1-STORY 1946 & NEWER ALL STYLES,50010.0,80000,0,57300,137300,HaydnLk,9189.0,Vac.Lot,0.0,...,0.0,No Data,0.0,0.0,0.0,2018.0,7.0,80000.0,WRDConv,Normal

In [7]:
df.dtypes

ClassSc_S        object
MA_Zip1         float64
LndAc_S           int64
ImpAc_S           int64
OthAc_S           int64
TtlVal_AsrYr      int64
Neighborhood     object
LotArea         float64
ParType          object
YrBuilt         float64
Foundation       object
RoofMatl         object
Ext1             object
Ext2             object
MasVnrType       object
Heating          object
Central Air      object
GLA             float64
TtlBsmtSF       float64
TotRmsAbvGrd    float64
NmbrBRs         float64
Fireplaces      float64
PoolArea        float64
GarageType       object
GarYrBlt        float64
Cars            float64
GarageArea      float64
YrSold_YYYY     float64
MoSold_MM       float64
SalePrice       float64
SaleType         object
SaleCond         object
dtype: object

In [8]:
df['TotRmsAbvGrd'] = df['TotRmsAbvGrd'].astype('int')
df['TotRmsAbvGrd'].dtypes

dtype('int64')

In [9]:
df['NmbrBRs'] = df['NmbrBRs'].astype('int')
df['NmbrBRs'].dtypes

dtype('int64')

In [10]:
df['Fireplaces'] = df['Fireplaces'].astype('int')
df['Fireplaces'].dtypes

dtype('int64')

In [11]:
df.dtypes

ClassSc_S        object
MA_Zip1         float64
LndAc_S           int64
ImpAc_S           int64
OthAc_S           int64
TtlVal_AsrYr      int64
Neighborhood     object
LotArea         float64
ParType          object
YrBuilt         float64
Foundation       object
RoofMatl         object
Ext1             object
Ext2             object
MasVnrType       object
Heating          object
Central Air      object
GLA             float64
TtlBsmtSF       float64
TotRmsAbvGrd      int64
NmbrBRs           int64
Fireplaces        int64
PoolArea        float64
GarageType       object
GarYrBlt        float64
Cars            float64
GarageArea      float64
YrSold_YYYY     float64
MoSold_MM       float64
SalePrice       float64
SaleType         object
SaleCond         object
dtype: object

In [12]:
df.head()

,ClassSc_S,MA_Zip1,LndAc_S,ImpAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,LotArea,ParType,YrBuilt,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
0,2-STORY 1946 & NEWER,50010.0,93300,0,279700,373000,HaydnLk,10015.0,Dwg&Lot,2016.0,...,0.0,Attachd,2016.0,3.0,647.0,2017.0,10.0,365400.0,WRDConv,Normal
1,2-STORY 1946 & NEWER,50010.0,93300,0,279700,373000,HaydnLk,10015.0,Dwg&Lot,2016.0,...,0.0,Attachd,2016.0,3.0,647.0,2016.0,5.0,75000.0,WRDConv,Normal
2,2-STORY 1946 & NEWER,50010.0,98100,0,294400,392500,HaydnLk,14904.0,Dwg&Lot,2018.0,...,0.0,Attachd,2018.0,3.0,744.0,2019.0,1.0,392500.0,WRDConv,Normal
3,2-STORY 1946 & NEWER,50010.0,98100,0,294400,392500,HaydnLk,14904.0,Dwg&Lot,2018.0,...,0.0,Attachd,2018.0,3.0,744.0,2018.0,1.0,75000.0,WRDConv,Normal
4,1-STORY 1946 & NEWER ALL STYLES,50010.0,80000,0,57300,137300,HaydnLk,9189.0,Vac.Lot,0.0,...,0.0,No Data,0.0,0.0,0.0,2018.0,7.0,80000.0,WRDConv,Normal

In [13]:
pd.Series(df['ClassSc_S'].unique()).sort_values()

13            1-1/2 STORY - UNFINISHED ALL AGES
5                 1-1/2 STORY FINISHED ALL AGES
14                 1-1/2 STORY TWNHM - ALL AGES
12                         1-STORY 1945 & OLDER
1               1-STORY 1946 & NEWER ALL STYLES
2                  1-STORY TWNHM - 1946 & NEWER
6     2 FAMILY CONVERSION - ALL STYLES AND AGES
10                         2-1/2 STORY ALL AGES
11                         2-STORY 1945 & OLDER
0                          2-STORY 1946 & NEWER
7                  2-STORY TWNHM - 1946 & NEWER
4                                         CONDO
9                  DUPLEX - ALL STYLES AND AGES
8                                   SPLIT FOYER
3                          SPLIT OR MULTI-LEVEL
dtype: object

In [14]:
class_s = {
    '1-STORY 1946 & NEWER ALL STYLES':20,
    '1-STORY 1945 & OLDER':30,
    '1-STORY TWNHM - 1946 & NEWER':35,
    '1-STORY W/FINISHED ATTIC ALL AGES':40,
    '1-1/2 STORY - UNFINISHED ALL AGES':45,
    '1-1/2 STORY FINISHED ALL AGES':50,
    '1-1/2 STORY TWNHM - ALL AGES':55,
    '2-STORY 1946 & NEWER':60,
    '2-STORY 1945 & OLDER':70,
    '2-STORY TWNHM - 1946 & NEWER':75,
    '2-1/2 STORY ALL AGES':80,
    'SPLIT OR MULTI-LEVEL':85,
    'SPLIT FOYER':90,
    'DUPLEX - ALL STYLES AND AGES':100,
    '2 FAMILY CONVERSION - ALL STYLES AND AGES':190,
    'CONDO':200
}

In [15]:
df['ClassSc_S'].replace(class_s, inplace=True)

In [16]:
df['ClassSc_S'].unique()

array([ 60,  20,  35,  85, 200,  50, 190,  75,  90, 100,  80,  70,  30,
        45,  55])

In [17]:
df[df['TotRmsAbvGrd']==77]

,ClassSc_S,MA_Zip1,LndAc_S,ImpAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,LotArea,ParType,YrBuilt,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
1203,20,50010.0,59500,0,178500,238000,N Ames,8092.0,Dwg&Lot,2010.0,...,0.0,Attachd,1954.0,1.0,286.0,2018.0,9.0,224350.0,WRDConv,Normal

In [18]:
df.at[1203, 'TotRmsAbvGrd']=7.0

In [19]:
df.iloc[1203]

ClassSc_S            20
MA_Zip1           50010
LndAc_S           59500
ImpAc_S               0
OthAc_S          178500
TtlVal_AsrYr     238000
Neighborhood     N Ames
LotArea            8092
ParType         Dwg&Lot
YrBuilt            2010
Foundation      C'Block
RoofMatl        CompShg
Ext1            Wd Sdng
Ext2            Wd Sdng
MasVnrType      BrkFace
Heating          GasFWA
Central Air         Yes
GLA                1182
TtlBsmtSF          1050
TotRmsAbvGrd          7
NmbrBRs               3
Fireplaces            0
PoolArea              0
GarageType      Attachd
GarYrBlt           1954
Cars                  1
GarageArea          286
YrSold_YYYY        2018
MoSold_MM             9
SalePrice        224350
SaleType        WRDConv
SaleCond         Normal
Name: 1203, dtype: object

In [20]:
df[df['NmbrBRs']==33]

,ClassSc_S,MA_Zip1,LndAc_S,ImpAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,LotArea,ParType,YrBuilt,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
1314,45,50010.0,37700,0,112900,150600,N Ames,6390.0,Dwg&Lot,1954.0,...,0.0,Detachd,1954.0,1.0,280.0,2016.0,5.0,178500.0,WRDConv,Normal

In [21]:
df.at[1314, 'NmbrBRs']=3.0

In [22]:
df.iloc[1314]

ClassSc_S            45
MA_Zip1           50010
LndAc_S           37700
ImpAc_S               0
OthAc_S          112900
TtlVal_AsrYr     150600
Neighborhood     N Ames
LotArea            6390
ParType         Dwg&Lot
YrBuilt            1954
Foundation      C'Block
RoofMatl        CompShg
Ext1            MetalSd
Ext2            MetalSd
MasVnrType         None
Heating          GasFWA
Central Air         Yes
GLA                1360
TtlBsmtSF           984
TotRmsAbvGrd          4
NmbrBRs               3
Fireplaces            0
PoolArea              0
GarageType      Detachd
GarYrBlt           1954
Cars                  1
GarageArea          280
YrSold_YYYY        2016
MoSold_MM             5
SalePrice        178500
SaleType        WRDConv
SaleCond         Normal
Name: 1314, dtype: object

In [23]:
df.drop(['ImpAc_S'],axis=1,inplace=True)

In [24]:
df[df['YrBuilt']==0]

,ClassSc_S,MA_Zip1,LndAc_S,OthAc_S,TtlVal_AsrYr,Neighborhood,LotArea,ParType,YrBuilt,Foundation,...,PoolArea,GarageType,GarYrBlt,Cars,GarageArea,YrSold_YYYY,MoSold_MM,SalePrice,SaleType,SaleCond
4,20,50010.0,80000,57300,137300,HaydnLk,9189.0,Vac.Lot,0.0,No Data,...,0.0,No Data,0.0,0.0,0.0,2018.0,7.0,80000.0,WRDConv,Normal
5,20,50010.0,80000,57300,137300,HaydnLk,9189.0,Vac.Lot,0.0,No Data,...,0.0,No Data,0.0,0.0,0.0,2017.0,4.0,3999.0,WRDConv,Abnorml

In [25]:
df.drop([df.index[4],df.index[5]],inplace=True)

In [26]:
df['BldAge_Sold'] = df['YrSold_YYYY']-df['YrBuilt']

In [27]:
df['BldAge_Sold'].unique()

array([  1.,   0.,  -1.,  -2.,  60.,  50.,  19.,  18.,  20.,  21.,  22.,
        11.,  12.,  15.,  17.,   2.,  14.,  27.,  25.,  23.,  26.,  24.,
        53.,  52.,  59.,  57.,  44.,  43.,  46.,  45.,  13.,  28.,  32.,
        29.,  33.,  34.,  30.,  70.,  31.,  47.,  10.,  61.,  68.,  65.,
        38.,  35.,  36.,  40.,  42.,  39.,  37.,  41.,  16.,   7.,  49.,
        48.,   4.,  51.,   9.,   5.,   8.,   6.,   3.,  56.,  54.,  55.,
       101.,  58.,  64.,  62.,  90.,  72.,  71.,  77.,  76.,  80.,  78.,
        75.,  79., 108.,  67.,  63.,  66.,  69.,  94., 100.,  96., 128.,
        88., 119., 116.,  98.,  91., 106.,  97., 138., 118.,  99.,  92.,
       113., 102., 112.,  87., 107.,  93., 117.,  74.,  73., 126.,  82.,
       103., 111., 121., 127.,  86., 109., 104., 125., 105., 124., 132.,
       131.,  81.,  89.,  83., 115.,  84.,  95., 139.,  85., 123.])

In [28]:
print(df[df['BldAge_Sold']<0].shape)

(57, 32)

In [29]:
df.drop(df[df['BldAge_Sold']<0].index, axis=0, inplace=True)

In [30]:
print(df[df['BldAge_Sold']<0].shape)

(0, 32)

In [31]:
df.drop(['YrBuilt'], axis=1, inplace = True)

In [32]:
df['YrSold_YYYY'] = df['YrSold_YYYY'].astype('int32')
df['YrSold_YYYY'].dtypes

dtype('int32')

In [33]:
df['MoSold_MM'] = df['MoSold_MM'].astype('int32')
df['MoSold_MM'].dtypes

dtype('int32')

In [34]:
df['Pool'] = np.where(df['PoolArea']==0, 0, 1).astype('object')
df['Garage'] = np.where(df['GarageArea']==0, 0, 1).astype('object')

In [35]:
df.drop(['LndAc_S','OthAc_S', 'Cars', 'PoolArea', 'GarYrBlt', 'NmbrBRs'], axis=1, inplace=True)

In [36]:
df = pd.get_dummies(df)
df.shape

(2498, 130)

---
## CNN-Keras

In [37]:
y = df['SalePrice']
X = df.drop(['SalePrice'], axis=1)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [61]:
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Flatten
from tensorflow.keras import optimizers
from sklearn.metrics import mean_absolute_error

In [40]:
my_scaler = StandardScaler()
X_train = my_scaler.fit_transform(X_train)
X_test = my_scaler.transform(X_test)

In [41]:
X_train.shape

(1998, 129)

In [59]:
cnn_model = Sequential()

cnn_model.add(Dense(256, activation='relu', kernel_initializer='normal', input_shape = (129,)))
cnn_model.add(Dense(128, kernel_initializer='normal', activation='relu'))
cnn_model.add(Dense(256, kernel_initializer='normal', activation='relu'))

cnn_model.add(Dense(1, kernel_initializer='normal', activation='linear'))

In [62]:
optimizer = optimizers.RMSprop(0.0099)
cnn_model.compile(loss='mean_absolute_error', optimizer=optimizer, metrics=['accuracy'])
cnn_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 256)               33280
_________________________________________________________________
dense_21 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_22 (Dense)             (None, 256)               33024
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 257
=================================================================
Total params: 99,457
Trainable params: 99,457
Non-trainable params: 0
_________________________________________________________________

In [67]:
cnn_model.fit(X_train, y_train, epochs=2000, verbose = 0)

In [68]:
cnn_model.evaluate(X_test, y_test, verbose = 1)

500/500 [==============================] - 0s 146us/step

[35857.48659375, 0.0]